.selector-for-some-widget {
  box-sizing: content-box;
}
img{
  height: 300px;
  width: 300px;
}
.minijumbotron{
  background-color: white;
}
.a, .a:hover, .a:active, .a:visited{
  color: white;
}
ul{
  list-style: none;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
.white{
  color: white;
}

.mycenter{
  text-align: center;
}
.smallimg{
  height: 150px;
  width: 150px;
}
